{% extends 'core/base.html '%}


{% block content %}

<div class="form-layout justify-between ">
    <form method="POST" autocomplete="off">
        {% csrf_token %}

        {{ form.non_field_errors}}
        
        <h2 class="mb-12 text-2xl text-center">SignUp</h2>
        <div class="mb-3">
            <label class="inline-block mb-2">Username</label><br>
            {{form.username}}
        </div>  
        <!-- <div class="mb-3">
            <label class="inline-block mb-2">Email</label><br>
            {{form.email}}
        </div>  -->
        <div class="mb-3">
            <label class="inline-block mb-2">Password</label><br>
            {{form.password1}}
        </div>  
        <div class="mb-3">
            <label class="inline-block mb-2">Confirm Password</label><br>
            {{form.password2}}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-100 rounded-xl">
                {% for field in form %}
                    {{field.errors }}

                {% endfor %}
            </div>
        {% endif %}
 




        

        <button type="submit" class="inline-blockmt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700"> Create Account</button>
    </form>
</div>

</body>
</html>
{% endblock %}