{% extends 'core/base.html' %}


{% load cart %}
{% load custom_filter %}

{% load cart %}
{% load custom_filter %}
{% block content %}


Order 

<div class="container">
    <div class="border rounded p-4 m-4">
        <table class="table table-light table">
            <thead class="table-light">
        
                <tr>


                    <th class="px-4 py-3 text-left text-sm font-medium text-gray-600" scope="col">S NO</th>
                    <th class="px-4 py-3 text-left text-sm font-medium text-gray-600" scope="col">Item </th>
                    <th class="px-4 py-3 text-left text-sm font-medium text-gray-600" scope="col">Price</th>
                    <th class="px-4 py-3 text-left text-sm font-medium text-gray-600" scope="col">Quantity</th>
                    <th class="px-4 py-3 text-left text-sm font-medium text-gray-600" scope="col">Status</th>
                    
        
                   
                </tr>
            </thead>
        
            {% for order  in orders %}
            
        
        
                <tr class="hover:bg-gray-50">
                    <td class="px-4 py-3">{{forloop.counter1}}</td>
                    {% if order.item in items %}
                        <td class="px-4 py-3"><img style="height:80px" class="rounded-circle" src="{{ order.item.image.url }}" alt="not loading "></td> 


                        <!-- <td class="px-4 py-3"> {{order.item.name}}</td> -->
                        <td class="px-4 py-3"> {{order.item.price|currency }}</td>
                        <td class="px-4 py-3"> {{order.quantity}}</td>
                        <!-- <td class="px-4 py-3"> {{order.price }}</td> -->
                        {% if order.status %}
                            <td><small class="badge badge-success">Completed</small></td>
                        {% else %}
                            <td><small class="badge badge-warning">Pending</small>  </td>
                        {% endif %}
                    {% endif %}
                    
                   
                </tr>
        
                
        
            {% endfor %}

            <!-- <tfoot>
                <tr>
                    <th colspan="4">Total</th>
                    <th>{{order.price}}</th>
    
    
                </tr>
            </tfoot> -->
        
        </table> 

{% endblock %}
        